$primary-color: #39c4bf;
$secondary-color: #f1b142;
$sidecolor: #a9bfc9;
$cellcolor: #203640;
$background-color: #1a2a32;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
}

.new-game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-top: 2rem;
    .titleheading {
      color: $primary-color;
    }
    .titlespan {
      color: $secondary-color;
    }
  }

  .select-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 3rem;
    border-radius: 8px;
    max-width: 80%;
    background-color: $cellcolor;
    color: $sidecolor;
    margin: 2rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .toggle-checkbox-container {
      width: 250px;
      height: 60px;
      input#toggle-checkbox {
        display: none;
        + label {
          width: 100%;
          height: 100%;
          > .toggle-switch {
            cursor: pointer;
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            padding: 4.4px;
            transition: all 0.5s ease;
            background-color: $background-color;
            color: $sidecolor;
            &:before,
            &:after {
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              transition: all 0.3s ease;
              border-radius: 8px;
              height: calc(100% - 10px);
              width: calc(50% - 3px);
            }
            &:before {
              background-color: $sidecolor;
              color: $background-color;
              z-index: 10;
              left: 3px;
              content: attr(data-unchecked);
            }
            &:after {
              background-color: $background-color;
              color: $sidecolor;
              right: 0;
              content: attr(data-checked);
            }
          }
        }
        &:checked + label > .toggle-switch {
          &:after {
            left: 0;
            content: attr(data-unchecked);
          }
          &:before {
            left: 50%;
            content: attr(data-checked);
          }
        }
      }
    }
  }
  .new-game-buttons {
    display: flex;
    justify-content: center;
    .new-game-btn {
      background-color: $secondary-color;
      color: $background-color;
      cursor: pointer;
      border: none;
      border-bottom: 5px solid #ca8827;
      border-radius: 8px;
      padding: 0.6rem 5.5rem;
      transition: transform 0.2s ease;
      &:active {
        transform: scale(0.8);
      }
    }
  }
}

.gameboard {
  display: none;
  position: relative;
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    .titleheading {
      color: $primary-color;
    }
    .titlespan {
      color: $secondary-color;
    }
    .playerturn {
      background-color: $cellcolor;
      display: flex;
      gap: 1rem;
      align-items: center;
      border-radius: 8px;
      padding: 0.5rem 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      p {
        color: $sidecolor;
        text-transform: uppercase;
      }
    }
    button {
      background-color: $sidecolor;
      color: $background-color;
      border: none;
      cursor: pointer;
      padding: 0.8rem 0.3rem;
      border-bottom: 6px solid #6d8a97;
      transition: transform 0.2s ease;
      &:active {
        transform: scale(0.8);
      }
    }
  }
  .grid {
    display: grid;
    grid-template-rows: repeat(3, 0.4fr);
    grid-template-columns: repeat(3, 0.4fr);
    justify-items: center;
    row-gap: 2rem;
    margin-top: 3rem;
    button {
      width: 90px;
      height: 90px;
      background-color: $cellcolor;
      color: white;
      cursor: pointer;
      border-radius: 8px;
      border: none;
      font-weight: 700;
      font-size: 1.3rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
  .footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 3rem;
    .indicator {
      color: $background-color;
      border-radius: 8px;
      padding: 0.6rem 2.3rem;
    }
    .score {
      font-weight: 700;
      font-size: 1.5rem;
    }
    .wins-x {
      background-color: $primary-color;
    }
    .tie {
      background-color: $sidecolor;
    }
    .wins-o {
      background-color: $secondary-color;
    }
  }
}

.win-state {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-color;
  width: 400px;
  height: 200px;
  text-align: center;

  .win-lose-status {
    text-transform: uppercase;
    color: $sidecolor;
    margin-top: 2rem;
  }
  .game-over {
    text-transform: uppercase;
    color: $primary-color;
    margin: 1rem 1rem;
  }
  .win-state-btn {
    border: none;
    color: $background-color;
    padding: 0.6rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:active {
      transform: scale(0.8);
    }
  }
  .quit {
    background-color: $sidecolor;
    border-bottom: 6px solid #6d8a97;
  }
  .next-round {
    background-color: $secondary-color;
    border-bottom: 6px solid #ca8827;
  }
}
